<div class="dialog-container">
    <h1 mat-dialog-title class="dialog-title">{{ title }}</h1>

    <div mat-dialog-content class="dialog-content">
        <!-- Monitor Image -->
        <div class="monitor-image-container">
        <img src="icoMonRed.png" alt="Monitor Photo" class="monitor-image" />
        </div>
        
        <!-- Form Inputs -->
        <div class="form-inputs">
        <input type="text" [(ngModel)]="newMonitor.name" placeholder="Name" class="input-field" />
        <input type="email" [(ngModel)]="newMonitor.email" placeholder="Email" class="input-field" />
        <input type="tel" [(ngModel)]="newMonitor.phone" placeholder="Phone" class="input-field" />
        </div>
    </div>

    <!-- Buttons -->
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button class="cancel-btn" (click)="save()">Aceptar</button>
        <button mat-button class="accept-btn" (click)="cancel()">Cancelar</button>
    </div>
</div>
