
input {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .add-btn {
    border: none;

    .add-icon {
      width: 24px;
      height: 24px;
    }
  }
.container {
    margin-left: 10%;
}
.custom-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;  /* Or any specific max-width you'd like */
  margin: 0 auto;
}

.monitor-card {
  max-width: 250px;  /* Set the fixed width for each item */
  margin: 0 10px;    /* Add spacing between items */
}

/* Make sure the carousel items are aligned properly */
.custom-carousel .p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Ensure items inside the carousel don't resize inappropriately */
.custom-carousel .monitor-card {
  width: 100%;  /* Or set a fixed width for each item */
  max-width: 200px;  /* Example of fixed width for each item */
  margin: 0 10px;  /* Add some spacing between items */
}
