<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="input-group mb-3">
          <input type="text" placeholder="Search monitors..." [(ngModel)]="searchValue" />
        </div>
      </div>
      <div class="col">
        <button class="add-btn" (click)="showAddMonitorModal()">
          <img src="image.png" alt="Add Icon">
        </button>
      </div>
    </div>
  </div>

  <div class="content-section implementation carousel-demo">
    <div class="container">
      <p-carousel [value]="filteredMonitors" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
        [circular]="true" [autoplayInterval]="0">
        <ng-template let-monitor pTemplate="item">
          <div class="monitor-card">
            <app-monitor [monitor]="monitor" (edit)="editMonitor($event)" (delete)="deleteMonitor($event)"></app-monitor>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>

