input {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .add-btn {
    border: none;

    .add-icon {
      width: 24px;
      height: 24px;
    }
  }
.container {
    margin-left: 10%;
}

.modal-form {
  input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-actions {
    button {
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    .btn-success {
      background-color: #28a745;
      color: white;
    }

    .btn-secondary {
      background-color: #6c757d;
      color: white;
    }
  }
}
