<section>
  <img src="leftArrow.png" (click)="decrementDate()">
  <h1>{{ formattedDate }}</h1>
  <img src="rightArrow.png" (click)="incrementDate()">
</section>

<div class="schedule">
  <app-activity
    *ngFor="let slot of activitySlots"
    [slot]="slot"
    (editActivity)="openEditActivityModal($event)"
    (createActivity)="openCreateActivityModal()"
    (deleteActivity)="deleteActivity($event)">
  </app-activity>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">×</span>
    <h2>{{ isEditing ? 'Editar Actividad' : 'Crear Actividad' }}</h2>

    <!-- Dropdown de tipo de actividad -->
    <label for="activityType">Tipo de Actividad</label>
    <select id="activityType" [(ngModel)]="selectedActivityType" (change)="onActivityTypeChange()">
      <option *ngFor="let activity of activityTypes" [value]="activity.id">{{ activity.name }}</option>
    </select>

    <!-- Dropdowns para los monitores -->
    <div *ngFor="let monitor of monitorDropdowns; let i = index">
      <label for="monitor-{{i}}">Monitor {{i + 1}}</label>
      <select id="monitor-{{i}}" [(ngModel)]="selectedMonitors[i]">
        <option *ngFor="let monitor of availableMonitors" [value]="monitor.id">{{ monitor.name }}</option>
      </select>
    </div>

    <button (click)="saveActivity()">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
    <button (click)="closeModal()">Cancelar</button>
  </div>
</div>
